body {
  background-color: #CFD8DC;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Josefin Slab', serif;
  color: #212121;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #FFF176;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFF176;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.btn {
  background-color: #FFF176;
  border-color: #FFF176;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.btn-danger {
  color: #212121;
}

.container {
  width: 90%;
  margin: auto;
}

.navbar {
  background-color: #607D8B;
  border-color: #607D8B;
  margin: 0;
  padding: 3px 0 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    background-color: #F6F5F1;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-family: 'Josefin Slab', serif;
  font-size: 45px;
  font-weight: 900;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
}

.panel-group {
  width: 50%;
  margin: 10% auto;
}

.panel-default {
  border-color: #607D8B;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.panel-default > .panel-heading {
  background-color: #607D8B;
  border-color: #607D8B;
  text-align: center;
}

.panel-title {
  font-weight: 900;
  font-size: 22px;
  color: #000;
}

.panel-body {
  background-color: #F6F5F1;
}

.trip-card {
  background-color: #F6F5F1;
  padding: 5px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#photo-panel {
  display: flex;
  flex-wrap: wrap;
}

#photo-panel .drawer-photo{
  margin: 10px;
}

#photo-panel .drawer-photo img{
  max-width: 150px;
  max-height: 150px;
  display: block;
}

#deleteCheckbox {
  color: red;
}

#app {
  margin: auto;
  width: 80%;
}

#image-size-large {
  max-width: 300px;
  max-height: 300px;
}

#image-size-medium {
  max-width: 200px;
  max-height: 200px;
}

#image-size-small {
  max-width: 100px;
  max-height: 100px;
}

#imageSizeNative {

}

#canvas-header {
  display: flex;
  margin: 0;
}

#canvas-wrapper {
  display: flex;
  margin: 0;
}

/*Styling for View Mode!*/
#canvas-wrapper .col-lg-10 {
  width: 950px;
}

#toolbox-container {
  margin: 0;
}

#toolbox{
  margin: 2px 0;
  width: 100%;
}

#toolbox > .panel-default {
  border-color: #FFF176;
}

#toolbox > .panel-default > .panel-heading {
  width: 100%;
  margin: 0;
  background-color: #FFF176;
}

#toolbox > .panel-default > .panel-heading > .panel-title {
  font-size: 14px;
}

#drag-canvas {
  border-color: #757575;
}
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFF176; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #F6F5F1; }
