#photo-panel {
  display: flex;
  flex-wrap: wrap;
}

#photo-panel .drawer-photo{
  margin: 10px;
}

#photo-panel .drawer-photo img{
  max-width: 150px;
  max-height: 150px;
  display: block;
}

.container {
  margin:0 0 0 0;
}

.center-grid {
  margin: 0 20%;
}

.center-grid .container {
  width: 100%;
}
