#photo-panel {
  display: flex;
  flex-wrap: wrap;
}

#photo-panel .drawer-photo{
  margin: 10px;
}

#photo-panel .drawer-photo img{
  max-width: 150px;
  max-height: 150px;
  display: block;
}

.container {
  margin:0 0 0 0;
}

#deleteCheckbox {
  color: red;
}

#image-size-large {
  max-width: 300px;
  max-height: 300px;
}

#image-size-medium {
  max-width: 200px;
  max-height: 200px;
}

#image-size-small {
  max-width: 100px;
  max-height: 100px;
}

#imageSizeNative {

}
